name: Distribute Theme

on:
  push:
    branches:
      - main

jobs:
  distribute-theme:
    name: Distribute Theme
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
      - name: Install Dependencies
        run: pnpm install
      - name: Lint Code
        run: pnpm lint
      - name: Build Theme
        run: |
          pnpm build
      - name: Copy Assets
        run: |
          cp -r src/assets dist
      - name: Deploy Changes
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: dist
          FOLDER: dist
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SKIP_EMPTY_COMMITS: true
          MESSAGE: "chore: update"
